
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503408053602'); /* IE9*/
  src: url('iconfont.eot?t=1503408053602#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503408053602') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503408053602') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503408053602#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bootstrap:before { content: "\e602"; }

.icon-socialcss3:before { content: "\e86b"; }

.icon-shujuku:before { content: "\e745"; }

.icon-dingwei:before { content: "\e604"; }

.icon-nvhai:before { content: "\e60b"; }

.icon-xingming:before { content: "\e611"; }

.icon-sousuo:before { content: "\e66f"; }

.icon-weixin:before { content: "\e60c"; }

.icon-java:before { content: "\e676"; }

.icon-lianjie:before { content: "\e643"; }

.icon-dakai:before { content: "\e646"; }

.icon-dianhua:before { content: "\e653"; }

.icon-youxi:before { content: "\e60d"; }

.icon-Git:before { content: "\e61c"; }

.icon-kaiguan:before { content: "\e623"; }

.icon-tubiaozhizuomoban-----:before { content: "\e69f"; }

.icon-qq:before { content: "\e62a"; }

.icon-qianduanjishu:before { content: "\e66b"; }

.icon-dianshiji:before { content: "\e66a"; font-size:600px;}

.icon-html:before { content: "\e63e"; }

.icon-jquery:before { content: "\e612"; }

.icon-dianshiji1:before { content: "\e613"; font-size:600px;}

.icon-xuexiao:before { content: "\e63a"; }

.icon-guanbi:before { content: "\e633"; }

.icon-dianshiji2:before { content: "\e610"; font-size:600px;}

.icon-mail:before { content: "\e8c9"; }

.icon-dianshiji3:before { content: "\e654"; font-size:600px;}

.icon--tianqiyubao:before { content: "\e634"; }

